.address {
    font-style: normal;
    color: rgba($colors-text-primary, 0.6);

    font-size: 1.6rem;

    @media (max-width: $lg) {
        font-size: 1.4rem;
    }

    &__grid {
        display: flex;
        gap: 40px;

        @media (max-width: $sm) {
            gap: 96px;
        }
    }

    &__text {
        display: block;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        &.link {
            position: relative;

            display: inline-block;

            text-decoration: underline;
        }
    }
}
