.btn {
    width: fit-content;
    padding: 0;
    margin: 0;

    font-family: $family;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: $colors-text-primary;

    display: flex;
    align-items: center;
    justify-content: center;

    background: 0;
    border: 0;
    border-radius: 6px;

    cursor: pointer;

    &--outline {
        padding: 18px 48px;

        color: $colors-text-highlight;

        border: 1px solid $colors-text-highlight;

        transition: color 0.3s linear, background-color 0.3s linear;

        &:hover {
            color: $colors-text-secondary;
            background-color: $colors-text-highlight;
        }
    }

    &--back {
        display: flex;
        align-items: center;
        gap: 16px;

        margin-bottom: 40px;

        &:hover {
            .btn__text {
                transform: translateX(0);
                opacity: 1;
            }
        }
        .btn__icon {
            transform: rotate(180deg);
        }

        .btn__text {
            font-size: 1.6rem;
            color: $colors-text-highlight;

            transform: translateX(15px);
            opacity: 0;

            transition: opacity 0.3s linear, transform 0.3s ease;

            @media (max-width: $sm) {
                font-size: 1.4rem;
            }
        }
    }

    &--close {
        padding: 7px;
    }
}
