.container {
    max-width: 1256px;
    padding: 0 30px;
    margin: 0 auto;

    &--sm {
        max-width: 848px;
    }

    &--lg {
        max-width: 1660px;
    }

    @media (max-width: $sm) {
        padding: 0 16px;
    }

    &--lg-wo-p {
        position: relative;

        max-width: 1660px;
        padding: 0;

        @media (max-width: $sm) {
            padding: 0;
        }

        .decor-scroll {
            position: absolute;
            top: -30px;
            right: 20px;

            font-size: 1.2rem;
            color: #f7cf9a;

            // display: block;
            // width: 60px;
            // height: 20px;

            // border-radius: 30px;
            // border: 2px solid #f7cf9a;

            // &:after {
            //     content: '';
            //     position: absolute;
            //     top: 7px;
            //     // transform: translateY(-50%);
            //     right: 10px;

            //     width: 5px;
            //     height: 5px;

            //     border-radius: 50%;
            //     background-color: #f7cf9a;

            //     animation: scroll-decor 3s infinite ease-in-out;

            // }

            // &:before {
            //     content: '';
            //     position: absolute;
            //     bottom: -8px;
            //     left: 50%;
            //     transform: translateX(-50%);

            //     width: 0;
            //     height: 0;
            //     border-left: 7px solid transparent;
            //     border-right: 7px solid transparent;

            //     border-top: 7px solid #f7cf9a;
            // }
        }
    }
}

@keyframes scroll-decor {
    0% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
    }
}
