.container {
    max-width: 1256px;
    padding: 0 30px;
    margin: 0 auto;

    &--sm {
        max-width: 848px;
    }

    &--lg {
        max-width: 1660px;
    }

    @media (max-width: $sm) {
        padding: 0 16px;
    }
}
