.footer {
    background-color: $colors-primary;

    &__top {
        padding: 64px 0;

        display: flex;
        gap: 155px;

        border-bottom: 1px solid rgba($colors-text-primary, 0.1);

        @media (max-width: $lg) {
            padding: 64px 0 0;

            gap: 115px;
        }
        @media (max-width: $md-target) {
            flex-direction: column;
            gap: 32px;
        }

        @media (max-width: $sm) {
            padding: 48px 0 0;
        }
    }

    &__bottom {
        padding: 33px 0;

        font-size: 1.4rem;
        color: rgba($colors-text-primary, 0.6);

        @media (max-width: $lg) {
            padding: 24px 0;
        }
    }
}
