.footer {
    background-color: $colors-primary;

    &__top {
        padding: 64px 0;

        display: flex;
        gap: 155px;

        border-bottom: 1px solid rgba($colors-text-primary, 0.1);

        @media (max-width: $lg) {
            padding: 64px 0 40px;

            gap: 115px;
        }
        @media (max-width: $md-target) {
            flex-direction: column;
            gap: 32px;
        }

        @media (max-width: $sm) {
            padding: 48px 0 24px;
        }
    }

    &__main-info {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, max-content));
        gap: 0 168px;

        @media (max-width: $lg) {
            gap: 0 146px;
        }

        @media (max-width: $md-target) {
            gap: 32px 58px;
        }
        @media (max-width: $sm) {
            gap: 32px 12px;
        }
    }

    &__bottom {
        padding: 33px 0;

        font-size: 1.4rem;
        color: rgba($colors-text-primary, 0.6);

        @media (max-width: $lg) {
            padding: 24px 0;
        }
    }

    &__item-caption {
        display: block;
        margin-bottom: 16px;

        font-weight: 700;
    }
}
