.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &__inner {
        position: relative;

        padding: 40px 0;

        @media (max-width: $xl) {
            padding: 24px 0;
        }

        @media (max-width: $md-target) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media (max-width: $sm) {
            padding: 32px 0;
        }
    }
}
