.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 1660px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $lg) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 360px) {
        grid-template-columns: 1fr;
    }
}
