.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px 40px;

    @media (max-width: $md-target) {
        display: none;
    }

    &__list {
        display: flex;
        gap: 32px;
        color: $colors-text-primary;

        @media (max-width: $xl) {
            gap: 40px;
        }
    }

    &__item {
        transition: color 0.3s linear;
        white-space: nowrap;

        &.active,
        &:hover {
            color: $colors-text-highlight;
        }
    }

    &--mob {
        display: block;

        margin-bottom: 40px;

        .nav__list {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        .nav__item {
            font-size: 2rem;
        }
    }

    &--menu {
        margin-bottom: 50px;
        padding: 0 30px;

        overflow-x: auto;

        @media (max-width: $md-target) {
            display: block;
        }
        @media (max-width: $sm) {
            padding: 0 16px;
        }

        .nav__list {
            gap: 20px;
        }
    }
}

// .nav__menu-wrapper {
//     padding: 0 30px;
//     position: relative;

//     &:after {
//         content: '';
//         position: fixed;
//         top: 0;
//         right: 0;

//         display: block;
//         width: 30px;
//         height: 100%;

//         background: linear-gradient(rgba(#f7cf9a, 0.1), rgba(#f7cf9a, 0.5));
//     }
// }
