.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        display: flex;
        gap: 32px;
        color: $colors-text-primary;
    }

    &__item {
        transition: color 0.3s linear;

        &:hover {
            color: $colors-text-highlight;
        }
    }
}
