.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px 40px;

    @media (max-width: $md-target) {
        display: none;
    }

    &__list {
        display: flex;
        gap: 32px;
        color: $colors-text-primary;

        @media (max-width: $xl) {
            gap: 40px;
        }
    }

    &__item {
        transition: color 0.3s linear;
        white-space: nowrap;

        &.active,
        &:hover {
            color: $colors-text-highlight;
        }
    }

    &--mob {
        display: block;

        margin-bottom: 40px;

        .nav__list {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        .nav__item {
            font-size: 2rem;
        }
    }

    &--menu {
        margin-bottom: 50px;

        overflow: scroll;

        @media (max-width: $md-target) {
            display: block;
        }
    }
}
