.section {
    &--showcase-main {
        background-image: url('../img/section/showcase/main/bg.jpg');
    }
    &--showcase {
        .section__inner {
            position: relative;

            min-height: 950px;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section__text-block {
            max-width: 622px;

            display: flex;
            flex-direction: column;
        }

        .section__btn {
            margin-top: 48px;

            @media (max-width: $sm) {
                margin-bottom: 32px;
                width: 100%;
            }
        }

        .socials {
            position: absolute;
            right: 15px;
            top: 35%;
            transform: translateY(-100%) rotate(-90deg);
            transform-origin: right center;
            &__item {
                transform: rotate(90deg);
            }

            @media (max-width: $lg) {
                display: none;
            }
        }

        .section__title {
            margin-bottom: 24px;
            text-transform: uppercase;
            font-size: 6.4rem;

            @media (max-width: $lg) {
                font-size: 4.8rem;
            }

            @media (max-width: $sm) {
                font-size: 3rem;
            }
        }

        .section__text {
            font-size: 1.8rem;

            &.greet {
                position: relative;

                width: fit-content;
                margin-bottom: 24px;
                margin-right: 77px;

                font-size: 1.6rem;

                &::after {
                    content: '';

                    position: absolute;
                    right: -53px;
                    top: 50%;

                    transform: translate(0, -50%);

                    width: 29px;
                    height: 1px;

                    background-color: rgba($colors-text-primary, 0.4);
                }
            }
        }
    }

    &--about {
        padding-bottom: 88px;

        background-color: $colors-primary;

        @media (max-width: $lg) {
            padding-bottom: 80px;
        }

        @media (max-width: $sm) {
            padding-bottom: 48px;
        }

        .section__cuisine {
            margin-bottom: 88px;

            @media (max-width: $lg) {
                margin-bottom: 48px;
            }
        }

        .section__interior-image {
            display: block;
            max-width: 100%;
            height: auto;

            margin-bottom: 88px;

            @media (max-width: $lg) {
                margin-bottom: 48px;
            }
        }
    }

    &--about-restaurant {
        transform: translateY(-53px);

        margin-bottom: calc(88px - 53px);

        @media (max-width: $lg) {
            transform: translateY(-48px);

            margin-bottom: 0;
        }
        @media (max-width: $sm) {
            transform: translateY(-24px);

            margin-bottom: calc(48px - 24px);
        }

        .section__inner {
            min-height: 356px;

            display: grid;
            grid-template-columns: 31% 69%;

            @media (max-width: $md) {
                flex-direction: column;
            }
            @media (max-width: $sm) {
                grid-template-rows: minmax(300px, 1fr);
                grid-template-columns: 1fr;
            }
        }

        .section__picture {
            width: 100%;
            height: 100%;
        }

        .section__image {
            display: block;
            width: 100%;
            height: 100%;
        }

        .section__text-block {
            position: relative;

            padding: 46px 101px 46px 64px;

            background-color: $colors-secondary;

            @media (max-width: $lg) {
                padding: 46px 56px 46px 64px;
            }
            @media (max-width: $md) {
                padding: 24px 24px 40px;
            }
        }

        .section__title {
            margin-bottom: 0;

            font-family: $family-cursive;
            font-size: 8rem;
            font-weight: 400;
            color: #b98c67;

            @media (max-width: $lg) {
                font-size: 6.4rem;
            }

            @media (max-width: $md) {
                font-size: 5rem;
            }
            @media (max-width: $sm) {
                font-size: 4.8rem;
            }
        }

        .section__text {
            margin-bottom: 32px;

            color: $colors-text-secondary;
        }

        .section__reserve {
            display: flex;
            align-items: center;
            gap: 16px;

            color: #b98c67;
        }

        .decor {
            position: absolute;
            bottom: -55px;
            right: -50px;

            transform: rotate(30deg);

            @media (max-width: $sm) {
                bottom: -27px;
                right: -17px;
            }
        }
    }

    &__title {
        margin-bottom: 40px;

        font-family: $family-title;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0;
        font-size: 4.8rem;

        @media (max-width: $lg) {
            font-size: 3.2rem;
        }

        @media (max-width: $sm) {
            margin-bottom: 32px;

            font-size: 2.4rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.7;

        & + & {
            margin-top: 24px;
        }

        @media (max-width: $sm) {
            font-size: 1.4rem;
        }
    }
}
