.section {
    &--showcase-main {
        background-image: url('../img/section/showcase/main/bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .section__inner {
            min-height: 950px;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section__text-block {
            max-width: 622px;

            display: flex;
            flex-direction: column;
        }

        .section__btn {
            margin-top: 48px;
        }

        .socials {
            transform: translateX(45%) rotate(-90deg);
            transform-origin: center;

            &__item {
                transform: rotate(90deg);
            }
        }

        .section__title {
            margin-bottom: 24px;

            font-size: 6.4rem;
        }

        .section__text {
            font-size: 1.8rem;

            &.greet {
                position: relative;

                width: fit-content;
                margin-bottom: 24px;
                margin-right: 77px;

                font-size: 1.6rem;

                &::after {
                    content: '';

                    position: absolute;
                    right: -53px;
                    top: 50%;

                    transform: translate(0, -50%);

                    width: 29px;
                    height: 1px;

                    background-color: rgba($colors-text-primary, 0.4);
                }
            }
        }
    }

    &--about {
        padding-bottom: 88px;

        background-color: $colors-primary;

        .section__cuisine {
            margin-bottom: 88px;
        }

        .section__interior-image {
            display: block;
            max-width: 100%;
            height: auto;
            margin-bottom: 88px;
        }
    }

    &--about-restaurant {
        transform: translateY(-53px);

        margin-bottom: calc(88px - 53px);

        .section__inner {
            display: flex;
            align-items: center;

            min-height: 356px;
        }

        .section__image {
        }

        .section__text-block {
            position: relative;

            padding: 46px 101px 46px 64px;

            background-color: $colors-secondary;
        }

        .section__title {
            margin-bottom: 0;

            font-family: $family-cursive;
            font-size: 8rem;
            font-weight: 400;
            color: #b98c67;
        }

        .section__text {
            margin-bottom: 32px;

            color: $colors-text-secondary;
        }

        .section__reserve {
            display: flex;
            align-items: center;
            gap: 16px;

            color: #b98c67;
        }

        .decor {
            position: absolute;
            bottom: -55px;
            right: -50px;

            transform: rotate(30deg);
        }
    }

    &__title {
        margin-bottom: 40px;

        font-family: $family-title;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0;
        font-size: 4.8rem;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.7;

        & + & {
            margin-top: 24px;
        }
    }
}
