<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="logo header__logo">
                LEVEL
            </a>

            <button class="burger">
                <span class="burger__item"></span>
                <span class="burger__item"></span>
                <span class="burger__item"></span>
            </button>

            <nav class="nav">
                <ul class="nav__list nav__list--left">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Меню заведения
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Дым культуры
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Забронировать
                        </a>
                    </li>
                </ul>

                <ul class="nav__list nav__list--right">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Мероприятия
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Акции
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>