<div class="modal active">
    <div class="modal__inner">
        <button type="button" class="btn btn--close modal__close">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon" d="M11 1L1 11M1 1L11 11" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>

        <h1 class="modal__title">
            вы соглашаетесь, что вам исполнилось 18 лет?
        </h1>

        <button type="button" class="btn btn--outline modal__confirm">
            Я подтверждаю, что мне есть 18 лет
        </button>

        <button type="button" class="btn modal__cancel">
            Нет, я младше
        </button>
    </div>
</div>