// colors
$colors-primary: #161519;
$colors-secondary: #ffffff;
$colors-text-primary: #ffffff;
$colors-text-secondary: #111013;
$colors-text-light: #969696;
$colors-text-highlight: #ffce92;

// typography
$family: Segoe UI, sans-serif;
$family-cursive: Allura, cursive;
$family-title: Inter, sans-serif;

// media
$xs: 0;
$sm-target: 376px;
$sm: 576px;
$md: 768px;
$md-target: 833px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// $md: 834px;
// $sm: 376px;
